* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffe6f0; /* rosa suave */
  color: #000000;            /* TEXTO NEGRO (CLAVE) */
  font-family: Arial, sans-serif;
}

button {
  cursor: pointer;
}